In [12]:
!pip instal openpyxl

In [13]:
import pandas as pd

# Import Data and Drop the last 3 rows (Total and source description)

df_full = pd.read_csv('IDV_ELV_22-23.csv').iloc[:-3]
df_empty = pd.read_csv('MDV_MLV_22-23.csv').iloc[:-3]

# Append to one df 
df = pd.concat([df_full, df_empty], ignore_index=True)

In [14]:
# Now the 'Date' column is converted to type datetime
df['Date'] = pd.to_datetime(df['Date'])

# Remove commas from 'Unit Count' column and convert to integer
df['Unit Count'] = df['Unit Count'].str.replace(',', '').astype(int)

In [15]:
df.dtypes

Start Event Type                     object
Start Event Description              object
Equipment Type                       object
Unit Count                            int32
Date                         datetime64[ns]
Start Event Location Full            object
dtype: object

In [16]:
# Extract unique locations
unique_locations = df['Start Event Location Full'].unique()

# Create a mapping dictionary
location_mapping = {location: f"{chr(65 + i)}" for i, location in enumerate(unique_locations)}

# Replace locations with labels
df['Start Event Location Full'] = df['Start Event Location Full'].replace(location_mapping)

# Now the 'Start Event Location Full' column is anonymized with labels like "Location A", "Location B", etc.

df['Start Event Location Full'].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object)

In [17]:
import numpy as np

# Generate a single random integer between 1 and 20
random_multiplier = np.random.randint(1, 21)

# Multiply 'Unit Count' column by the random integer
df['Unit Count'] = df['Unit Count'] * random_multiplier

# Now the 'Unit Count' column is anonymized by multiplying the entire column by a random integer between 1 and 20

In [18]:
df

,Start Event Type,Start Event Description,Equipment Type,Unit Count,Date,Start Event Location Full
0,ELV,Export Loaded on Vessel,20DV,1488,2022-01-01,A
1,ELV,Export Loaded on Vessel,20DV,4528,2022-01-01,B
2,ELV,Export Loaded on Vessel,20DV,896,2022-01-01,C
3,ELV,Export Loaded on Vessel,40DV,96,2022-01-01,A
4,ELV,Export Loaded on Vessel,40DV,320,2022-01-01,B
...,...,...,...,...,...,...
55546,MLV,Empty Loaded on vessel,40HC,1136,2023-12-31,A
55547,MLV,Empty Loaded on vessel,40HC,8656,2023-12-31,B
55548,MLV,Empty Loaded on vessel,40HC,944,2023-12-31,G
55549,MLV,Empty Loaded on vessel,40HR,432,2023-12-31,B
55550,MLV,Empty Loaded on vessel,40HR,160,2023-12-31,G

In [19]:
# Save the DataFrame to a CSV file named "Anonym_ELV_IDV_22_23.csv" in the same location
df.to_csv("Anonym_Daily_Events_22_23.csv", index=False)